server:
  port: 8081
spring:
  application:
    name: pedidos-service
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: engsoft2
    password: engsoft2
  datasource:
    url: jdbc:h2:mem:pedidosdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: never 
  h2:
    console:
      enabled: true
      path: /h2
  jpa: 
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka